<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <p><h1>input your info</h1></p>
        <form action  = "http://127.0.0.1:5050/genToken" method = "POST">
            <P>input your Aligo ID: </P>
            <input type ="text" name = 'userid'>
            <P>input your Aligo API Key(발급키): </P>
            <input type ="text" name = 'apikey'>
            <P><input type = "submit" value = "send"></P>
        </form>
    </center>
    
</body>
</html>