<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p><h1>sending Chingutalk</h1></p>
    <form  method="POST"  name="sendForm" onsubmit = "return validateForm();">          
        <p>input sender num : 
            <input type = "number" name = "sendNum" placeholder="plz input without '-'" value="{{
            request.form.sendNum}}" >
        </p>
        <p>input receiver num: 
            <input type = "number" name = "receiveNum1" placeholder="plz input without '-'" value="{{
            request.form.receiveNum1}}">
        <p><input type="submit" value ="send" style="width:280px;height:50px;"/> </p>
    </form>   
    </p>
    


    <script type="text/javascript">  
        
        function alertTest(){
          alert("Test")
        }
        
        function validateForm() {
            var phoneno = /^\(?([0-9]{3})\)?([0-9]{4})?([0-9]{4})$/;
            var senderNum = document.forms["sendForm"]["sendNum"].value;          
            var receiveNum1 = document.forms["sendForm"]["receiveNum1"].value;
           
          
            if (senderNum == ""){
              alert("발신자 번호를 입력해주세요.");         
              return false;            
            else 
          }          
           
            
            if (receiveNum1  == ""){
              alert("수신자 번호를 입력해주세요.");
              return false;
            } 
        }   
    </script>

</body>
</html>